@font-face {
  font-family: 'Dinnextltpro';
  font-style: normal;
  font-weight: normal;
  src: local('Dinnextltpro'), url('./assets/DINNextLTPro-Regular.otf') format('truetype');
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
